page-detail-page {
  ion-header {
    .back-button.show-back-button {
      color: white;
      margin: 0 14px;
      display: block;
      span.back-button-text {
        font-weight: bold;
      }
    }
  }
}
