$screen-md: 1024px; //992px !default;
$screen-md-min: $screen-md !default;
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$brand-alpha: #0241aa; //blue
$brand-beta: #c706c6; //pink
$brand-gamma: #43308e; //purple
$brand-black: #222222;
$brand-grey: #e0e0e0;
$brand-white: #ffffff;
$brand-primary: $brand-alpha; //darken(#428bca, 6.5%) !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

page-season-seats {
  a.btn-primary,
  p.required,
  div.scroll-content > ion-grid > ion-row > ion-col > div > div.layout-column.alpha > div:nth-child(23) {
    display: none;
  }

  h1.seating-heading {
    font-size: 2em;
    text-align: center;
    padding: .25em;
    color: $brand-alpha;
    text-transform: uppercase;
  }

  .tier-wrapper {
    display: inline-block;
    width: 100%;
    border: 0.5em solid rgba(204, 204, 204, 0.16);
    padding: .5em;
  }

  .tier-row {
    display: inline-block;
    width: 100%;
    background: rgba(34, 34, 34, 0.07);
    padding: .15em;
    border-bottom: 2px solid $brand-white;
    text-align: center;
  }

  .tier-header {
    font-size: 1.5em;
    color: $brand-beta;
    background: $brand-black;
    border-bottom: 2px solid $brand-white;
    font-weight: 700;
    text-transform: uppercase;
    padding: .15em;
    text-align: center;
    float: left;
    width: 100%;
  }

  .tier-header-price {
    font-size: 1.5em;
    color: $brand-beta;
    background: $brand-black;
    border-bottom: 2px solid $brand-white;
    font-weight: 700;
    text-transform: uppercase;
    padding: .15em;
    text-align: center;
    float: left;
    width: 100%;
  }

  .tier-header-level {
    font-size: 1.5em;
    font-weight: 700;
    background-size: cover;
    color: $brand-beta;
    background: $brand-black;
    border-bottom: 2px solid $brand-white;
    text-transform: uppercase;
    padding: .15em;
    float: right;
    width: 100%;

  }

  .tier {
    font-size: 1.5em;
    color: #0241aa;
    font-weight: 700;
    text-transform: uppercase;
    padding: .15em;
    text-align: center;
    float: left;
    width: 100%;

  }

  .price {
    font-size: 1.5em;
    color: $brand-black;
    font-weight: 700;
    text-transform: uppercase;
    padding: .15em;
    text-align: center;
    float: left;
    width: 100%;
  }

  .level {
    font-size: 1.5em;
    font-weight: 700;
    background-size: cover;
    color: $brand-black;
    text-transform: uppercase;
    padding: .15em;
    float: right;
    width: 100%;

  }

  .gold {
    background: #f2c84d;
  }

  .purple {
    background: #a696b8;
  }

  .green {
    background: #6db17c;
  }

  .blue {
    background: $brand-alpha;
  }

  .red {
    background: #ce5453;
  }

  .diamond {
    background: #c6d8d4;
  }

  .silver {
    background: #ccc;
  }

  .lawn {
    background: $brand-white;
  }

  .sold-out {
    display: block;
    width: 104px;
    height: 0;
    padding: 55px 0 0;
    overflow: hidden;
    background: url(https://s3.amazonaws.com/busites_www/woodlandscenter2016com/pages/sold-out.png) 0 no-repeat;
    position: absolute;
    left: 40%;
    margin-top: 8%;
  }

  @media (min-width: $screen-sm-min) {

    h1.seating-heading {
      font-size: 3em;
      text-align: left;
      padding: .25em;
      color: $brand-alpha;
      text-transform: uppercase;
    }

    .tier-header {
      width: 35%;
      background: none;
      border: none;
      text-align: left;
    }
    .tier-header-price {
      width: 35%;
      background: none;
      border: none;
    }
    .tier-header-level {
      width: 25%;
      background: none;
      border: none;
    }

    .tier {
      width: 40%;
      text-align: left;

      span {
        margin-right: 5%;
        float: right;
      }
    }

    .price {
      width: 25%;
    }

    .level {
      width: 25%;
    }

    .sold-out {
      position: absolute;
      left: 48%;
      margin-top: 0;
    }
  }

  @media (min-width: $screen-md-min) {

    .tier {
      width: 40%;
      text-align: left;

      span {
        margin-right: 15%;
        float: right;
      }
    }
  }

  hr {
    display: none;
  }

  ion-card {
    ion-icon.img-zoom-icon {
      float: right;
      position: relative;
      margin-top: -35px;
      padding: 10px;
    }
  }
}
